.container {
  h2, h3 {
    text-align: center;
  }

  ul {
    li:hover {
      cursor: pointer;
    }
  }

  .border {
    border: 1px solid black;

    .inputField {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;

      input {
        font-size: 24px;
        padding: 5px;
      }
    }
  }
}

.empty {
  text-align: center;
  margin-bottom: 20px;
}