.container h2, .container h3 {
  text-align: center; }

.container .border {
  border: 1px solid black; }
  .container .border .inputField {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
    .container .border .inputField input {
      font-size: 24px;
      padding: 5px; }
