.container h2, .container h3 {
  text-align: center; }

.container .empty {
  text-align: center;
  margin-bottom: 20px; }

.container .biography {
  text-align: center;
  margin-bottom: 20px; }

.container .border {
  border: 1px solid black; }
  .container .border .inputField {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
    .container .border .inputField input {
      font-size: 24px;
      padding: 5px; }
  .container .border ul li div {
    display: flex;
    flex-direction: column; }
  .container .border .infoConteiner {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10px; }
    .container .border .infoConteiner .info {
      display: flex;
      flex-direction: column;
      padding-left: 20px; }
      .container .border .infoConteiner .info span:not(:last-of-type) {
        margin-bottom: 5px; }
